* {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(#ffffff, #e8f9ff);
}

.inter-normal {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style */
.btn {
  font-size: 16px;
  width: 132px;
  height: 48px;
  color: white;
  background-color: #4e47ff;
  border-radius: 7px;
  padding: 6px 12px;
  transition: all 0.3s ease;
  cursor: pointer;
  border-style: none;
}.btn:hover{
  color: black;
  background-color: #CAE5BC;

 transform: scale(.89);
}

/* navber style */

.header-bg {
  background-image: url(../Assets/Hero-bg.png);
  width: 1440px;
  height: 698px;
}

.navber {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  padding: ;
  margin-left: 150px;
  margin-right: 150px;
  padding: 50px;
  /* margin: 0 auto; */
}
.navber h2 {
  color: #4e47ff;
  font-weight: 800;
  font-size: 34px;
}

/* banner style */
.banner-text {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 37px;
}
.banner-title {
  text-align: center;
  margin: 209px 267.5px 152px 267.5px;
}

/* sector-2 design */
.action-sector {
  display: flex;

  margin: 116px 160px 115px 140px;

  justify-content: space-between;
  align-items: center;
  width: 1140px;
  height: 328px;
}
.action-contant {
  margin: 62.5px 220px 62.5px 0px;
}

.action-sector-text {
  color: #474747;
  padding: 23px 0px;
  font-size: 24px;
}

.action-img img {
  border-radius: 30px;
  width: 403px;
  height: 328px;
}

.btn2 {
  font-size: 16px;
  width: 229px;
  height: 48px;
  align-items: center;
  color: white;
  background-color: #4e47ff;
  border-radius: 7px;
  padding: 6px 12px;
  transition: all 0.3s ease;
  cursor: pointer;
  border-style: none;
}
.btn2:hover{
  color: black;
  background-color: #CAE5BC;transform: scale(.89);
}
.action-sector-title {
  font-size: 42px;
  font-weight: bold;
}

/* sector-3 style */
.productive-user {
  background-color: rgba(78, 71, 255, 0.1);
  width: 1140px;
  height: 306px;
  margin: 116px 159px 116px 141px;
  padding: 50px 8px;
  border-radius: 20px;
}
.productive-user h2 {
  text-align: center;
  font-size: 38px;
  padding-top: 50px;
  padding-bottom: 40px;
}

.productive-user-section {
  display: flex;
  justify-content: space-evenly;

  padding: 18px;
  padding-bottom: ;
}

.active-user {
  font-size: 80px;

  color: #4e47ff;
}

.user-status {
  font-size: 20px;
}

/* user card */

.cards {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10000px;
  width: 1140px;
  height: 306px;
  margin: 116px 159px 116px 141px;
}

.card {
  width: 366px;
  height: 243px;
  box-shadow: ;
  margin-right: 24px;
  padding: 24px;
  border-radius: 12px;
  background-color: #ffffff;
  /* background-color: white; */
  box-shadow: 2px 2px 15px #f2eded;
}

.card-reviewer-info {
  display: flex;
  gap: 15px;
}

.card-title {
  padding-bottom: 8px;
  padding-top: 24px;
}

.card-text {
  padding-bottom: 24px;
} 


.user-told{
font-size: 42px;
  font-weight: bold;
 margin: auto 350px;
  width: 1140px;
  height: 49px;
  
  margin: 116px 159px 160px 141px;
  /* display: inline; */
  text-align: center;


}
.reviewer-name {
  color: #474747;
}
.reviewer-img img{
  width: 40px;
  height: 40px;
  border-radius: 999px;
}
.date {
  color: #b1b1b1;
}


/* focus sector style */
.focus {
  text-align: center;
  width: 1140px;
  height: 696px;
  gap: 20px;
  background-color: white;
  border-radius: 16px;
  margin: 116px 159px 160px 141px;
  box-shadow: 5px 2px 20px #f2eded;
}

.focus-item {
  padding-top: 71px;
  padding-bottom: 20px;
}
.focus-item-img img {
  width: 840px;
  height: 364px;
  margin: 0 auto;
  border-radius: 48px;
}
.focus-item-title {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

/* footer style */
.getting-touch {
  display: flex;
  justify-content: space-between;

  width: 1140px;
  height: 632px;
  margin: 116px 159px 116px 141px;
  align-items: center;
}
.touch-title {
  font-size: 97px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}
.touch-form {
  width: 497px;
  height: 490px;
}
.touch-form form input {
  width: 450px;
  height: 70px;
  border-radius: 10px;
  padding: 10px 32px;
}
.touch-form form textarea {
  width: 450px;
  height: 135px;
  border-radius: 10px;
  padding: 10px 32px;
}

label {
  font-weight: 800;
  font-family: 'Inter', sans-serif;
  color: #474747;
}
.btn3 {
  margin-top: 20px;
  font-size: 16px;
  width: 520px;
  height: 48px;
  align-items: center;
  color: white;
  background-color: #4e47ff;
  border-radius: 9px;
  padding: 6px 12px;
  transition: all 0.3s ease;
  cursor: pointer;
  border-style: none;
}

.footer-section {
  background-color: white;
  width: 1440px;
  height: 428px;
  text-align: center;
 
}

.logo-2 {
  font-size: 100px;
  color: #4e47ff;
  font-weight: 800;
  font-family: 'Inter', sans-serif;
  text-align: center;
  
}
.btn3:hover{
  color: black;
  background-color: #CAE5BC;

 transform: scale(.89);
}
.nav-section{
  
  margin:20px 550px ;
}
.nav-section li a{
text-decoration: none;
color: #474747;

}
.nav-section li{
  list-style: none;
margin-right: 20px;
}
.nav-section ul {
  display: flex;

}

.footer-edit{

  padding-top: 60px;
}

